@import url('https://fonts.googleapis.com/css2?family=Anton&family=Edu+SA+Beginner:wght@600&family=Montserrat:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    margin: 0;
    padding:0;
    background-color: #000;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.text{
    color: aliceblue;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
/*Hero BG*/
.container-hero-bg{
    padding-top: 0px;
    height: 100vh;
    background: url(assets/images/Hero-bg.png) no-repeat;
    background-size: cover;
    background-position: center;
    
    
}
.container-hero{
    max-width: 1200px;
    margin: auto;
    
}
.nav-flex{
    display: flex;
    justify-content: space-between;
    align-items:center;
    align-items: center;
    flex-direction: row;
    text-align: left;
    
}
ul li a{
    
    color:rgb(255, 255, 255);
    
    letter-spacing: 2px;
    padding-left: 35px;
    transition: color 0.3s ease;
}

ul li a:hover{
    color: rgb(231, 191, 47);
}
.big-header{
    color: aliceblue;
    font-size: 75px;
    font-family: Anton;    
}
.big-header:hover{
    color: rgb(144, 117, 19);
    transition: color 0.5s ease;

}

.nav-elements ul{
    
    border-radius: 25px;
    display: flex;
    font-size: 22px;
    font-family: Anton ;
    gap: 35px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    
}

.hero-info{
    margin-top: 100px;
}
.hero-info-head {
    font-size: 150px;
    letter-spacing: 15px;
    
}

.hero-info-text{
    max-width: 500px;
    margin-bottom: 40px;
}

.hero-info-btn a {
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color:aliceblue;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #000;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    width: 170px;
    transition: color 0.5s ease;
    transition: background-color 0.5s ease;
}
.hero-info-btn a:hover{
    background-color: aliceblue;
    color: #000;
}
.hero-info-btn img{
    height: 20px;
    width: auto;
    
}

/*Adventure Page*/
.monserrat{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
.white{
    color:aliceblue;
}
.green{
    color: greenyellow;
}
.right{
    padding-left: 50px;
}
.adv-bg-contianer{
    background: #000;
}
.adv-info{
    margin-top: 50px;
}
/*Cards*/
.cards{
    margin: 100px 0;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.card{
    border-radius: 15px;
    width: 350px;
    height: 650px;
    background-color: rgb(52, 51, 51);
    padding: 10px;border-bottom: 10px solid rgba(172, 255, 47, 0.365);
}
.hiking{
    padding-top: 65px;
}

.hiking-head{
    padding-top: 25px;
}
.sight-img{
    padding-top: 70px;
}
.sight-head{
    padding-top:22px ;
}
.small{
    color: red;
    font-size: 18px;
}
.card h1{
    color: aliceblue;
}
.card img{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
.card-text{
    color: aliceblue;
}
.card-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    gap: 30px;
}
.card-btn a{
    text-decoration: none;
    background: yellowgreen;
    color: white;
    padding: 15px;
    border-radius: 25px;
}
.card-text{
    max-width: 300px;
}
.card-btn{
    margin: 15px;
}